# ------------------------------------------------------------------------------
# Atlas configuration
# ------------------------------------------------------------------------------
ATLAS_ENV=${ATLAS_ENV}
ATLAS_DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_REMOTE_HOST}:${POSTGRES_REMOTE_PORT}/${POSTGRES_DB}?sslmode=disable